* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(13, 13, 13);
  color: #fff;
  overflow-x: hidden;

}

nav {
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: auto;
  align-items: center;

}

.account {
  /* position: absolute; */
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.logo {
  float: right;
  display: flex;
  align-items: center;

}

#ser {
  height: 40px;
  width: 500px;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid grey;
  color: #fff;
  font-size: 18px;
  background-color: transparent;

}


.btm {
  height: 35px;

  font-size: 15px;
  color: rgb(0, 136, 255);
  background-color: transparent;
  border: 0.3px solid rgba(255, 255, 255, 0.645);
  border-radius: 50px;
  padding: 10px;
}

.btm:hover {
  background-color: rgba(0, 136, 255, 0.356);

}

.side {
  float: right;
}

.btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(105, 102, 102, 0.626);
}

.bt {
  position: relative;
  height: 39px;
  width: 60px;
  border: 1px solid grey;
  border-radius: 0 50px 50px 0;
  right: 55px;
  background-color: grey;
  top: 1px;
  text-align: center;
  cursor: pointer;
}


.na.active {
  display: none;
  position: absolute;
  transition: 0.3s;
}

.na-2.deactive {
  position: absolute;
  display: block;
  transition: 0.3s;

}

.na {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;

}

.na ul li {
  list-style: none;
}

.na-2 ul li {
  list-style: none;
}

/* .na-2.active
{
  right: 0;
} */

.but {
  height: 40px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  padding-right: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 25px;

}

.but:hover {
  background-color: rgba(105, 102, 102, 0.626);

}

.bu {
  padding-top: 5px;
  height: 40px;
  width: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding-right: 12px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 50px 10px;
  cursor: pointer;


}

.bu:hover {
  background-color: rgba(105, 102, 102, 0.626);

}

i {
  color: #fff;
  font-size: 20px;

}

.na-2 {
  display: none;
}

span {
  font-size: 12px;
}

/* Content */

.content {


  position: absolute;
  left: 250px;
  justify-content: space-between;
  float: right;
}

.vdo {

  height: 300px;
  width: 400px;

}